.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    justify-content: end;
}
.header-counter {
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}